# for pycache
*.pyc

# for params
scripts/config/**/*.yaml
!scripts/config/**/defaults.yaml

# for model
scripts/model/*
!scripts/model/.gitkeep

# for urdf
*.dae
*.stl

# for log
logs/*

# for test
test.py

# for data
scripts/data/*
