# for pycache
*.pyc

# for params
rl_nachi/config/**/*.yaml
!rl_nachi/config/**/defaults.yaml

# for model
rl_nachi/model/*
!rl_nachi/model/.gitkeep

# for urdf
*.dae
*.stl

# for log
logs/*

# for test
test.py
