<?xml version="1.0"?>
<launch>

  <!-- arguments -->
  <arg name="model" default="$(find rl_nachi)/urdf/mz04.urdf"/>
  <arg name="rvizconfig" default="$(find rl_nachi)/rviz/show_robot.rviz" />

  <!-- ROS Paramater -->
  <!-- ロボット情報読み込み -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)"/>

  <!-- 起動時の接続有無 true:起動時に接続を行う false:起動時に接続を行わない-->
  <param name="init_open_id" type="bool" value="true" />

  <!-- OpenNR-IF、ros controlパラメータ -->
  <rosparam file="$(find nachi_bringup)/config/nachi_param.yaml" command="load"/>

  <!-- Joint State Publisherパラメータ -->
  <rosparam file="$(find nachi_bringup)/config/joint_state_publisher.yaml" command="load"/>

  <!-- Robot State Publisherパラメータ -->
  <rosparam file="$(find nachi_bringup)/config/robot_state_publisher.yaml" command="load"/>

  <!-- ノード起動 -->
  <!-- Robot State Publisher-->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- Joint State Publisher-->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

  <!-- NACHI service provider -->
  <include file="$(find nachi_service_provider)/launch/nachi_service_provider.launch"/>

  <!-- NACHI hardware interface -->
  <include file="$(find nachi_hardware_interface)/launch/nachi_hardware_interface.launch"/>

  <!-- Controller Manager -->
  <node pkg="controller_manager" type="spawner" name="started" output="screen" args="joint_state_controller
                                                                                     joint_group_angle_controller
                                                                                     joint_group_position_controller
                                                                                     nachi_service_controller
                                                                                     nachi_servomotor_state_controller"/>

  <!-- Controller Stopper -->
  <include file="$(find nachi_controller_stopper)/launch/nachi_controller_stopper.launch"/>

  <!-- rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" output="screen" />

</launch>
